/* .flip {
  width: 100%;
  }
  .flip-content {
  transition: transform 0.4s;
  transform-style: preserve-3d;
  }
  .flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
  }
  .flip-front, .flip-back {
  backface-visibility: hidden;  
  }
  .flip-back {
  transform: rotateY(180deg);
  } */

/* flip image time interval */
/* .card.flip_effect.flipped .card_front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card.flip_effect.flipped .card_back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;
}
.card_front, .card_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card_front, .card_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}
.card_back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
} */
/* flip image time interval  end */

/* #flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
#flip-box:hover #flip-box-inner {
    transform: rotateY(180deg);
}
#flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  } */
@media only screen and (min-width: 320px) {
    
  #f1_container {
    position: relative;
      
      width: 130px;
      height: 130px;
      z-index: 1;
  }
  #f1_container {
      perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
  }
  img {
    width: 130px;
    height: 130px;
  }
  
  .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden; 
  }
  .face.back {
      display: block;
      transform: rotateY(180deg);
  }
  
  .face.back {
    -webkit-animation: BackRotate 5s linear infinite;
    animation: BackRotate 5s linear infinite;
  }
  
  .face.front {
    -webkit-animation: Rotate 5s linear infinite;
    animation: Rotate 5s linear infinite;
  }
  
  
  @-webkit-keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @-webkit-keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  } 
  @keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  } 
   




} 

@media only screen and (min-width: 360px) {
    
  #f1_container {
  position: relative;
    
    width: 130px;
    height: 130px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
}
img {
  width: 130px;
  height: 130px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}
.face.back {
    display: block;
    transform: rotateY(180deg);
}

.face.back {
  -webkit-animation: BackRotate 5s linear infinite;
  animation: BackRotate 5s linear infinite;
}

.face.front {
  -webkit-animation: Rotate 5s linear infinite;
  animation: Rotate 5s linear infinite;
}


@-webkit-keyframes Rotate {
  75% {-webkit-transform:rotateY(0deg);}
  100% {-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes BackRotate {
  75% {-webkit-transform:rotateY(180deg);}
  100% {-webkit-transform:rotateY(540deg);}
} 
@keyframes Rotate {
  75% {-webkit-transform:rotateY(0deg);}
  100% {-webkit-transform:rotateY(360deg);}
}
@keyframes BackRotate {
  75% {-webkit-transform:rotateY(180deg);}
  100% {-webkit-transform:rotateY(540deg);}
}

  /* #flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
    #flip-box:hover #flip-box-inner {
        transform: rotateY(180deg);
    }
    #flip-box {
        background-color: transparent;
        width: 100px;
        height: 100px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
    } */
  /* #f1_container {
    position: relative;
    margin: 10px auto;
    width: 130px;
    height: 130px;
    z-index: 1;
  }

  #f1_container {
    perspective: 1000;

  }

  #f1_card {
    width: 100%;
    height: 100%;
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: #aaa;
  }

 


  .face.back {
    animation:
      BackRotate 3000ms linear 3000ms infinite;
  }

  .face.front {
    animation:
      Rotate 3000ms linear 3000ms infinite;
  }

 */

  /* img {
      width: 69px;
      height:69px;
  } */

  /* @keyframes Rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes BackRotate {
    from {
      transform: rotateY(180deg);
    }

    to {
      transform: rotateY(540deg);
    }
  }
  */
 

  /* @keyframes Rotate {

    50% {
      transform: rotateY(180deg);
    }

    100% {
      transform: rotateY(360deg);
    }

  }

  @keyframes BackRotate {

    50% {
      transform: rotateY(180deg);
    }

    100% {
      transform: rotateY(540deg);
    }

  }

  @keyframes hop-around-pause {
    50% {
      transform-origin: 12vmin center;
    }

    50.01% {
      transform-origin: center center;
    }

    100% {
      transform-origin: center center;
    }

  } */
}

@media only screen and (min-width: 375px) {
 
  #f1_container {
    position: relative;
      
      width: 130px;
      height: 130px;
      z-index: 1;
  }
  #f1_container {
      perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
  }
  img {
    width: 130px;
    height: 130px;
  }
  
  .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden; 
  }
  .face.back {
      display: block;
      transform: rotateY(180deg);
  }
  
  .face.back {
    -webkit-animation: BackRotate 5s linear infinite;
    animation: BackRotate 5s linear infinite;
  }
  
  .face.front {
    -webkit-animation: Rotate 5s linear infinite;
    animation: Rotate 5s linear infinite;
  }
  
  
  @-webkit-keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @-webkit-keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  } 
  @keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  }
  
   /* #flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
    #flip-box:hover #flip-box-inner {
        transform: rotateY(180deg);
    }
    #flip-box {
        background-color: transparent;
        width: 100px;
        height: 100px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
    } 
  #f1_container {
    position: relative;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    z-index: 1;
  }

  #f1_container {
    perspective: 1000;

  }

  #f1_card {
    width: 100%;
    height: 100%;
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: #aaa;
  }

  .face.back {
    animation:
      BackRotate 1000ms linear 0ms infinite;
  }

  .face.front {
    animation:
      Rotate 1000ms linear 0ms infinite;
  }

  img {
      width: 69px;
      height:69px;
  }

  @keyframes Rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes BackRotate {
    from {
      transform: rotateY(180deg);
    }

    to {
      transform: rotateY(540deg);
    }
  } */

}


@media only screen and (min-width: 390px) {
   
  #f1_container {
    position: relative;
      
      width: 130px;
      height: 130px;
      z-index: 1;
  }
  #f1_container {
      perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
  }
  img {
    width: 130px;
    height: 130px;
  }
  
  .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden; 
  }
  .face.back {
      display: block;
      transform: rotateY(180deg);
  }
  
  .face.back {
    -webkit-animation: BackRotate 5s linear infinite;
    animation: BackRotate 5s linear infinite;
  }
  
  .face.front {
    -webkit-animation: Rotate 5s linear infinite;
    animation: Rotate 5s linear infinite;
  }
  
  
  @-webkit-keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @-webkit-keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  } 
  @keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  }
  
  /* #flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
    #flip-box:hover #flip-box-inner {
        transform: rotateY(180deg);
    }
    #flip-box {
        background-color: transparent;
        width: 100px;
        height: 100px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
    } 
  #f1_container {
    position: relative;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    z-index: 1;
  }

  #f1_container {
    perspective: 1000;

  }

  #f1_card {
    width: 100%;
    height: 100%;
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: #aaa;
  }

  .face.back {
    animation:
      BackRotate 10000ms linear 0ms infinite;
  }

  .face.front {
    animation:
      Rotate 10000ms linear 0ms infinite;
  }

  img {
      width: 69px;
      height:69px;
  }

  @keyframes Rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes BackRotate {
    from {
      transform: rotateY(180deg);
    }

    to {
      transform: rotateY(540deg);
    }
  } */

}


@media only screen and (min-width: 640px) {

  #f1_container {
    position: relative;
      
      width: 150px;
      height: 150px;
      z-index: 1;
  }
  #f1_container {
      perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
  }
  img {
    width: 150px;
    height: 150px;
  }
  
  .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden; 
  }
  .face.back {
      display: block;
      transform: rotateY(180deg);
  }
  
  .face.back {
    -webkit-animation: BackRotate 5s linear infinite;
    animation: BackRotate 5s linear infinite;
  }
  
  .face.front {
    -webkit-animation: Rotate 5s linear infinite;
    animation: Rotate 5s linear infinite;
  }
  
  
  /* @-webkit-keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @-webkit-keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  } 
  @keyframes Rotate {
    75% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
  }
  @keyframes BackRotate {
    75% {-webkit-transform:rotateY(180deg);}
    100% {-webkit-transform:rotateY(540deg);}
  } */
  
   /* #flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
    #flip-box:hover #flip-box-inner {
        transform: rotateY(180deg);
    }
    #flip-box {
        background-color: transparent;
        width: 100px;
        height: 100px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
    }
  #f1_container {
    position: relative;
    margin: 10px auto;
    width: 250px;
    height: 250px;
    z-index: 1;
  }

  #f1_container {
    perspective: 1000;

  }

  #f1_card {
    width: 100%;
    height: 100%;
  }

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: #aaa;
  }

  .face.back {
    animation:
      BackRotate 10000ms linear 0ms infinite;
  }

  .face.front {
    animation:
      Rotate 10000ms linear 0ms infinite;
  }

  img {
      width: 69px;
      height:69px;
  }

  @keyframes Rotate {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes BackRotate {
    from {
      transform: rotateY(180deg);
    }

    to {
      transform: rotateY(540deg);
    }
  } */

} 